table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.pointer{
  cursor: pointer;
}

.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}

.error-snackbar {
  background-color: green !important;
}

::ng-deep  .snackBar-success {
  color: #ffffff !important;
  background-color: #28a745 !important;
}
