<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]= "['']" ><i class="material-icons">home</i>Home</a>
      <a mat-list-item [routerLink]= "['condominio']" ><i class="material-icons">location_city</i>Condominios</a>
      <a mat-list-item href="#"><i class="material-icons">domain</i>Blocos</a>
      <a mat-list-item href="#"><i class="material-icons">group</i>Apartamentos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistemas de Informações DSCondominio</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

